<mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{hero.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Alter Ego: {{hero.alterego}}</p>
      <p>Power: {{hero.power}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button (click)="detail(hero)" color="primary">
        <mat-icon>create</mat-icon>
        Edit
      </a>
      <button mat-button (click)="delete(hero)" color="warn">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
