<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" role="navigation" class="sidenav">
    <mat-nav-list role="list">
      <a mat-list-item routerLink="/dashboard" (click)=sidenav.close()>Dashboard</a>
      <a mat-list-item routerLink="/heroes" (click)=sidenav.close()>Heroes</a>
      <a mat-list-item routerLink="/about" (click)=sidenav.close()>About</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <img src="../assets/logoA.png" alt="" height=50px width=50px;>
        <h1>{{ title }}!</h1>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

